:root {
    --primary: #0088ff;
    --secondary: #4e4e4e;
    --color-shadow: #aaa;
}

body {
    color: var(--secondary);
}

#root, .App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    margin: 0 auto;
}

.container {
    width: 80vw;
    margin: auto;  
}

.btn {
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
    cursor: pointer;
    box-shadow: none;
    border: 1px solid transparent;
    font-weight: bold;
}

.btn.btn-danger {
    background-color: red;
    color: white;
}

.btn.btn-danger.btn-outlined {
    border-color: red;
    background: transparent;
    color: red;
}

.btn.btn-danger.btn-outlined:hover {
    background-color: red;
    color: white;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.ide-container {
    display: flex;
    height: 94vh;
    width: 80vw;
    margin: auto; 
    margin-top: 3vh;
    border-radius: 10px;
    box-shadow: 0 0 30px var(--color-shadow);
    
    overflow: hidden;
}

.pane-container {
    position: relative;
    width: 50%;
    height: 100%;
    /* border-radius: 10px; */
    padding: 10px;
}

.pane-text {
    font-family: monospace; 
    height: 100%;
    
}

.markdown-pane textarea {
    width: 98%;
    height: 100%; 
    border: none;
    resize: none;
    outline: none;
}

.html-pane {
    border-radius: 10px;
    box-shadow: -3px 0 10px var(--color-shadow);
}

.html-pane .pane-text{
    height: 95%; 
    word-wrap: break-word;
    overflow: scroll;
    border: 1px solid black;
}

.clear-btn {
    position: absolute;
    top: 0;
    right: 0;
} 

.download-btn {
    position: sticky;
    bottom: 5px;
}




/* 
.file-input {
    display: none;
}

.file-input-label {
    display: inline-block;
    text-align: center;
    width: fit-content;
    padding: 10px;
    border: 2px solid var(--primary);
    font-weight: bold;
    border-radius: 10px;
}

.file-input-label:hover {
    background-color: var(--primary);
    color: white;
}

.error-panel {
    color: var(--error);
    width: fit-content;
    max-width: 300px;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid var(--error);
    border-radius: 5px;
}


.min-height-full {
    height: 100vh;
}

@keyframes fromTop {
    0% {
        transform: translateY(-500px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes apparition {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media all and (max-width: 850px) {

    .container {
        width: 90vw;
    }
} */