:root {
    --primary: #0088ff;
    --secondary: #4e4e4e;
    --error: #ff4a4a;
}

body {
    color: var(--secondary);
}

#root, .App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    margin: 0 auto;
}

.container {
    width: 80vw;
    margin: auto;  
}

.btn {
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
    cursor: pointer;
    box-shadow: none;
    border: 1px solid transparent;
    font-weight: bold;
}

.btn.btn-danger {
    background-color: red;
    color: white;
}

.btn.btn-danger.btn-outlined {
    border-color: red;
    background: transparent;
    color: red;
}

.btn.btn-danger.btn-outlined:hover {
    background-color: red;
    color: white;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.ide-container {
    display: flex;
    height: 85vh;
}

.ide-container .pane-container {
    width: 50%;
    height: 100%;
    border-radius: 10px;
    /* overflow: scroll; */
}

.pane-text {
    font-family: monospace;  
}

.markdown-pane textarea {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
}
textarea:focus {

}

.html-pane{
    border-left: 1px solid blue;
}




/* 
.file-input {
    display: none;
}

.file-input-label {
    display: inline-block;
    text-align: center;
    width: fit-content;
    padding: 10px;
    border: 2px solid var(--primary);
    font-weight: bold;
    border-radius: 10px;
}

.file-input-label:hover {
    background-color: var(--primary);
    color: white;
}

.error-panel {
    color: var(--error);
    width: fit-content;
    max-width: 300px;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid var(--error);
    border-radius: 5px;
}


.min-height-full {
    height: 100vh;
}

@keyframes fromTop {
    0% {
        transform: translateY(-500px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes apparition {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media all and (max-width: 850px) {

    .container {
        width: 90vw;
    }
} */